sudo: false
language: node_js
node_js:
    - 10
    - 12
    - 14
    - node
script: "npm test"
after_success:
  - './node_modules/.bin/nyc report --reporter=text-lcov | ./node_modules/.bin/coveralls'
